{% extends 'base.html' %}
{% block title %} Login | {{ super() }} {% endblock %}
{% block content %}
<h1>Login</h1>

{% include 'snippets/form_errors.html' %}

{% if logged_in %}
 
<h1>Yor are already logged in. Would you like to logout?</h1>
{% else %}
<form method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" />
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <br><br>
        <button type="submit">Login</button>
        
    </div>

</form>
{% endif %}

{% endblock %}



