<div>
    {% include 'snippets/form_errors.html' %}

    <form method="POST" action="/videos/{{object.host_id}}/edit" hx-post="/videos/{{object.host_id}}/hx-edit" >
        <div>
            <label for="url">Video URL</label>
            <input class="form-control" type="text" name="url" value='{% if object.url %}{{object.url}}{%endif%}' required/>
            <label for="title">Video Title</label>
            <input class="form-control" type="text" name="title" value='{% if object.title %}{{object.title}}{%endif%}' required/>

            <div class="form-check">
                <label class="form-check-label" for="delete">
                <input class="form-check-input" type="checkbox" name="delete" id="delete">Delete?</input>
                </label>

            </div>

            <button class="btn btn-primary mt-2" type="submit">Save</button>
            
        </div>

    </form>
</div>