{% extends 'base.html' %}
{% block title %} Create Video | {{ super() }} {% endblock %}
{% block content %}
<h1>Add a video</h1>

{% include 'snippets/form_errors.html' %}


<form method="POST">
    <div>
        <label for="url">Video URL</label>
        <input type="text" name="url" value='{% if url %}{{url}}{%endif%}' required/>
        <br><br>
        <label for="title">Video Title</label>
        <input type="text" name="title" value='{% if title %}{{title}}{%endif%}' required/>
        <br><br>
        <button type="submit">Add</button>
        
    </div>

</form>


{% endblock %}
